html {

	background-image:url("https://i.imgur.com/3dfuSZo.png");
	background-size:cover;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	text-align:center;
}
main {
	color:white;
	text-align:center;
}
#short, #pv, #social{
	color:red;
	margin-left:25%;
	margin-right:25%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
#short{
	background-color:rgba(51, 204, 204,0.45);
}
#pv{
	background-color:rgba(204, 51, 204,0.45);
}
#social{
	background-color:rgba(204, 204, 51,0.45);
}
.column {
  float: center;
  width: 50%;
}
#social img{
	width:20%;
}